@import "./reset";
@import "./foundation";


/* list of components */
@import "./component/LoginForm";

/* List pages */
@import "./pages/Layout";

#main {
  i {
    color: black;
    font-size: rem-calc(2em);
    padding: 0;
    margin: 0;
  }
}
